# don't track the example binary
example

# don't track compiled lib/ stuff, since this is system-dependent binary
lib/*.so
lib/*.o

# don't track this weird example.dSYM thing
example.dSYM/*

# don't track compiled io-test drivers
tests/io-driver/*.out

# don't track temporary vim files
*.swp

# don't track random test files that I make
_*
